# EnchantRarityMin + EnchantBiomeValue make the effect an enchantment: rolled on gear of that rarity or a stronger one,
# worth the value of the item's biome (biome order of RaritySystem.cfg; a single value applies to every biome). Leave them empty otherwise.
# EnchantItemTypes: gear it can be rolled on, empty = any: Melee, Bow, Staff, Shield, Helmet, Chest, Legs, Cape, Trinket, Tool,
# or the groups AllWeapons (Melee, Bow, Staff) and Armor (Helmet, Chest, Legs, Cape).

[Effect_HealthMax]
Name = overhaul_effect_healthmax
Description = overhaul_effect_healthmax_desc
Value = [0/9999]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_HealthRegen]
Name = overhaul_effect_healthregen
Description = overhaul_effect_healthregen_desc
Value = [-100/100]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_EitrMax]
Name = overhaul_effect_eitrmax
Description = overhaul_effect_eitrmax_desc
Value = [0/9999]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = [6,8,10,12,14,16,18,20]

[Effect_EitrRegen]
Name = overhaul_effect_eitrregen
Description = overhaul_effect_eitrregen_desc
Value = [-100/100]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_EitrCost]
Name = overhaul_effect_eitrcost
Description = overhaul_effect_eitrcost_desc
Value = [-9999/0]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_FoodDuration]
Name = overhaul_effect_foodduration
Description = overhaul_effect_foodduration_desc
Value = [-100/100]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_FireDmg]
Name = overhaul_effect_firedmg
Description = overhaul_effect_firedmg_desc
Value = [0/9999]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_FrostDmg]
Name = overhaul_effect_frostdmg
Description = overhaul_effect_frostdmg_desc
Value = [0/9999]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_LightningDmg]
Name = overhaul_effect_lightningdmg
Description = overhaul_effect_lightningdmg_desc
Value = [0/9999]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_PoisonDmg]
Name = overhaul_effect_poisondmg
Description = overhaul_effect_poisondmg_desc
Value = [0/9999]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_SpiritDmg]
Name = overhaul_effect_spiritdmg
Description = overhaul_effect_spiritdmg_desc
Value = [0/9999]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_AttackSpeed]
Name = overhaul_effect_attackspeed
Description = overhaul_effect_attackspeed_desc
Value = [-100/100]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_MoveSpeed]
Name = overhaul_effect_movespeed
Description = overhaul_effect_movespeed_desc
Value = [-100/100]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_FallDmg]
Name = overhaul_effect_falldmg
Description = overhaul_effect_falldmg_desc
Value = [-100/0]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_FallSpeed]
Name = overhaul_effect_fallspeed
Description = overhaul_effect_fallspeed_desc
Value = [-100/0]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ProjectileCount]
Name = overhaul_effect_projectilecount
Description = overhaul_effect_projectilecount_desc
Value = [0/10]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ResistFire]
Name = overhaul_effect_resistfire
Description = overhaul_effect_resistfire_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ResistFrost]
Name = overhaul_effect_resistfrost
Description = overhaul_effect_resistfrost_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ResistLightning]
Name = overhaul_effect_resistlightning
Description = overhaul_effect_resistlightning_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ResistPoison]
Name = overhaul_effect_resistpoison
Description = overhaul_effect_resistpoison_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ResistSpirit]
Name = overhaul_effect_resistspirit
Description = overhaul_effect_resistspirit_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ResistBlunt]
Name = overhaul_effect_resistblunt
Description = overhaul_effect_resistblunt_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ResistSlash]
Name = overhaul_effect_resistslash
Description = overhaul_effect_resistslash_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ResistPierce]
Name = overhaul_effect_resistpierce
Description = overhaul_effect_resistpierce_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ParryBonus]
Name = overhaul_effect_parrybonus
Description = overhaul_effect_parrybonus_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_BackstabBonus]
Name = overhaul_effect_backstabbonus
Description = overhaul_effect_backstabbonus_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_Knockback]
Name = overhaul_effect_knockback
Description = overhaul_effect_knockback_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_LifeSteal]
Name = overhaul_effect_lifesteal
Description = overhaul_effect_lifesteal_desc
Value = [0/100]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_DamageReflect]
Name = overhaul_effect_damagereflect
Description = overhaul_effect_damagereflect_desc
Value = [0/100]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_HarvestBonus]
Name = overhaul_effect_harvestbonus
Description = overhaul_effect_harvestbonus_desc
Value = [0/100]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_CarryWeight]
Name = overhaul_effect_carryweight
Description = overhaul_effect_carryweight_desc
Value = [0/5000]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_CritChance]
Name = overhaul_effect_critchance
Description = overhaul_effect_critchance_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_LootBonus]
Name = overhaul_effect_lootbonus
Description = overhaul_effect_lootbonus_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_Indestructible]
Name = overhaul_effect_indestructible
Description = overhaul_effect_indestructible_desc
Value = [0/1]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_ExplosiveProjectile]
Name = overhaul_effect_explosiveprojectile
Description = overhaul_effect_explosiveprojectile_desc
Value = [0/1]
IsPercent = false
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 

[Effect_CastSpeed]
Name = overhaul_effect_castspeed
Description = overhaul_effect_castspeed_desc
Value = [0/75]
IsPercent = true
EnchantRarityMin = Uncommon
EnchantItemTypes = 
EnchantBiomeValue = 
