# ================
# === Rarities ===
# ================

[Rarity_Common]
UIColor = #706356
Name = Common/Ordinaire
AuraAssetName = OverhaulLootAura1
EnchantBonusCount = 0
BaseStatBonus = 0
CatalystSlot = 0
CanBeSet = false

[Rarity_Uncommon]
UIColor = #79f776
Name = Uncommon/Peu commun
AuraAssetName = OverhaulLootAura2
EnchantBonusCount = 1
BaseStatBonus = 2 
CatalystSlot = 0
CanBeSet = false

[Rarity_Magic]
UIColor = #71a5f6
Name = Magic/Magique
AuraAssetName = OverhaulLootAura3
EnchantBonusCount = 1
BaseStatBonus = 5 
CatalystSlot = 0
CanBeSet = false

[Rarity_Rare]
UIColor = #fad340
Name = Rare/Rare
AuraAssetName = OverhaulLootAura4
EnchantBonusCount = 2
BaseStatBonus = 8 
CatalystSlot = 1
CanBeSet = false

[Rarity_Epic]
UIColor = #c43dff
Name = Epic/Epique
AuraAssetName = OverhaulLootAura5
EnchantBonusCount = 3
BaseStatBonus = 12 
CatalystSlot = 1
CanBeSet = true

[Rarity_Legendary]
UIColor = #fd5c3d
Name = Legendary/Legendaire
AuraAssetName = OverhaulLootAura6
EnchantBonusCount = 4
BaseStatBonus = 18 
CatalystSlot = 2
CanBeSet = true

[Rarity_Mythic]
UIColor = #89eaff, #89ff9a, #e775f8
Name = Mythic/Mythique
AuraAssetName = OverhaulLootAura7
EnchantBonusCount = 5
BaseStatBonus = 25 
CatalystSlot = 2
CanBeSet = true

# ====================
# === EnchantBonus ===
# ====================

[Enchant_None]
RarityMin = Common
Effet = 

# =================
# === Catalysts ===
# =================

[Catalyst_AmberPearl]
Rarity = Uncommon
Effet = 

[Catalyst_Ruby]
Rarity = Uncommon
Effet = 

[Catalyst_HardAntler]
Rarity = Magic
Effet = 

[Catalyst_SurtlingCore]
Rarity = Uncommon
Effet = 

[Catalyst_Ectoplasm]
Rarity = Uncommon
Effet = 

[Catalyst_WrithanRoots]
Rarity = Uncommon
Effet = 

[Catalyst_Crystal]
Rarity = Uncommon
Effet = 

[Catalyst_FreezeGland]
Rarity = Uncommon
Effet = 

[Catalyst_DragonTear]
Rarity = Magic
Effet = 

[Catalyst_YagluthDrop]
Rarity = Rare
Effet =

[Catalyst_Eitr]
Rarity = Rare
Effet =

[Catalyst_BlackCore]
Rarity = Rare
Effet =

[Catalyst_CelestialFeather]
Rarity = Rare
Effet =

[Catalyst_MoltenCore]
Rarity = Rare
Effet = 

[Catalyst_GemstoneGreen]
Rarity = Epic
Effet = 

[Catalyst_GemstoneRed]
Rarity = Epic
Effet = 

[Catalyst_GemstoneBlue]
Rarity = Epic
Effet = 

# =================
# === LootLists ===
# =================

[LootList_TrollArmor]
Rarity = [10, 45, 25, 10, 7, 2.5, 0.5]
Quantity = 1
LootChange = 100
ItemList = HelmetTrollLeather, ArmorTrollLeatherChest, ArmorTrollLeatherLegs, CapeTrollHide

[LootList_BearArmor]
Rarity = [10, 45, 25, 10, 7, 2.5, 0.5]
Quantity = 1
LootChange = 100
ItemList = HelmetBerserkerHood, ArmorBerserkerChest, ArmorBerserkerLegs

[LootList_RootArmor]
Rarity = [10, 45, 25, 10, 7, 2.5, 0.5]
Quantity = 1
LootChange = 100
ItemList = HelmetRoot, ArmorRootChest, ArmorRootLegs

[LootList_FenrisArmor]
Rarity = [10, 45, 25, 10, 7, 2.5, 0.5]
Quantity = 1
LootChange = 100
ItemList = HelmetFenring, ArmorFenringChest, ArmorFenringLegs

[LootList_VileboneArmor]
Rarity = [10, 45, 25, 10, 7, 2.5, 0.5]
Quantity = 1
LootChange = 100
ItemList = HelmetBerserkerUndead, ArmorBerserkerUndeadChest, ArmorBerserkerUndeadLegs

[LootList_LoxArmor]
Rarity = [10, 45, 25, 10, 7, 2.5, 0.5]
Quantity = 1
LootChange = 100
ItemList = HelmetLox, ArmorLoxChest, ArmorLoxLegs

# ================
# === MobLoots ===
# ================

[MobLoot_Troll]
LootList = TrollArmor

[MobLoot_Bjorn]
LootList = BearArmor

[MobLoot_Abomination]
LootList = RootArmor

[MobLoot_Fenring_Cultist]
LootList = FenrisArmor

[MobLoot_Unbjorn]
LootList = VileboneArmor

[MobLoot_Lox]
LootList = LoxArmor
